@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    height: 150px;
    background-image: url("https://thumbs.dreamstime.com/t/fondo-geom%C3%A9trico-de-la-bandera-del-papel-pintado-arte-pixel-juego-minecraft-textura-cubo-tierra-e-hierba-con-para-sus-proyectos-152699354.jpg");
}
.logo{
	margin-top: 30px;
	margin-left: 30px;
	height: 50px;
}
.logo img:hover{
	height: 60px;
}
.nav ul, img{
	float: bottom;
	position: relative;
    list-style-type: none;
    margin-left: 8px;
    margin-top: 20px;
    font-size: 20px;
}
.nav li{
    margin: 10px;
	float: left;
	width: 150px;
    text-align: center;
	font: bold 30px calibri;
}
.nav li a:hover{
    color: green;
	text-shadow: rgba(0, 0, 0, 5) 2px 3px 5px;
	
}
.nav li a{
	display: block;
    padding: 9px;
	color:bisque;
	text-decoration: none;
}
.cuerpo{
	background-image: url("https://as.com/meristation/imagenes/2020/10/23/noticias/1603445369_648285_1603445409_noticia_normal.jpg");
	height: 600px;
	list-style-type: none;
	color: azure;
	margin-left: 31px;
	margin-right: 31px;
	font: bold 30px calibri;
}
.footer{
	margin-top: 20px;
	height: 250px;
	font: bold 20px calibri;
	text-shadow: rgba(0, 0, 0, 5) 2px 3px 5px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.37);
}
.aside{
	text-align: center;
	background-image: url("../img/fondo6.png");	
	height: 150px;
	font: bold 30px calibri;
	text-shadow: rgba(0, 0, 0, 5) 2px 3px 5px;
	padding: 30px;
	margin-bottom:70px;
}

.group3{
	text-align: left;
	margin-top: 20px;

}
.group5{
	text-align: left;
	margin-top: 20px;
	margin-left: 1px;
}
.buscar{
    font: bold 20px calibri;
	text-align: center;
	margin-bottom: 60px;
	margin-left: 150px;
	background-image: url("https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/minecraft-creeper-face.jpg");
	margin-right: 100px;
	border-radius: 10px;
	color:rgb(30, 71, 255);
}
.buscar input[type=number],.buscar input[type="text"],.buscar input[type=date],.buscar input[type=button],.buscar select{
	width: 93%;
    font: bold 20px calibri;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.562);
	cursor: pointer;
	color: rgb(30, 71, 255);
	padding: 2px;
}
.buscar select{
	width: 93%;
    font: bold 20px calibri;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.562);
	color: rgb(30, 71, 255);
}

.buscar input[type=submit]{
	width: 93%;
    font: bold 20px calibri;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.562);
	cursor: pointer;
	color: dodgerblue;
	padding: 2px;
	margin-bottom: 30px;
}
.buscar input[type=submit]:hover{
    color: blanchedalmond;
	font: bold 22px calibri;
}
.buscar label{
    margin-top: 20px;
}
.buscar ul{
    list-style-type: none;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}
.alinear{
    font: bold 20px calibri;
	border-radius: 10px;
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	margin-bottom: 60px;
	background-image: url("https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/minecraft-creeper-face.jpg");
}
.alinear input[type=number],.alinear input[type="text"],.alinear input[type=date],.alinear input[type=button]{
	width: 60%;
    font: bold 20px calibri;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.562);
	cursor: pointer;
	padding: 2px;
	text-align: center;
}
.alinear input[type=submit]{
	width: 60%;
	color: rgb(30, 71, 255);
    font: bold 20px calibri;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.562);
	cursor: pointer;
	padding: 2px;
	margin-bottom: 30px;
}
.alinear label{
    margin-top: 20px;
}
.alinear p{
	color: rgb(30, 71, 255);
}
.colocar{
	text-align: center;
	margin: 20px;
}
.colocar input[type="text"]{
	width: 60%;
    font: bold 20px calibri;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.562);
	cursor: pointer;
	padding: 2px;
	color: rgb(30, 71, 255);
	text-align: center;
	
}
.alinear ul{
    list-style-type: none;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}
.R1 input[type=submit]{
    color: blanchedalmond;
	font: bold 22px calibri;	
}
.R1 input[type=number],.R1 input[type="text"],.R1 input[type=date],.R1 input[type=button],.R1 input[type=submit]{
	width: 60%;
    font: bold 20px calibri;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.562);
	cursor: pointer;
	padding: 2px;
	margin-bottom: 10px;
	color: rgb(30, 71, 255);
}
.R1{
    font: bold 20px calibri;
	border-radius: 10px;
	text-align: center;
	color: rgb(30, 71, 255);
}


.mensaje2 input[type="text"]{
    width: 800px;
	text-align: center;
    font: bold 20px calibri;
	margin-left: 155px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.562);
	cursor: pointer;
}
.mensaje2{
	text-align: center;
    font: bold 20px calibri;
	margin-bottom: 60px;
}

.busqueda{
	margin-bottom: 20px;
	margin-left: 50px;
}
.group1 input[type=checkbox]{
	float: left;
	margin-top: 9px;
    border-radius: 10px;
	cursor: pointer;
	margin-right: 5px;
}
.group1 p{
	text-align: left;
	margin-top: 20px;
}
.busqueda input[type=number],.busqueda input[type="text"],.busqueda input[type="date"]{
	width: 400px;
    font: bold 20px Calibri;
    margin-top: 3px;
	margin-left: 20px;
	padding-left: 50px;
	padding: 6px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.562);
	cursor: pointer;
}
.individual{
	float: center;
}
.busqueda p{
	width: 80px;
	margin: 3px;
	padding-left: 50px;
	padding: 6px;
    font: bold 20px Calibri;
}
.resultado{
	list-style-type: none;
}
.footer img:hover{
	border: 3px solid greenyellow;
}
.f3{
	margin-top: 20px;
	margin-bottom: 20px;
}
.logo{
	margin-top: 20px;
}
/* MAIN */
[class*="col-"] {
	float: left;
}
/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
	.group{
	  display: grid;
	  grid-template-columns: auto auto ;
	}
	.group1{
		display: grid;
		grid-template-columns: 200px 200px 200px 200px ;
	}
    .group2{
        display: grid;
        grid-template-columns: 200px 850px;
    }
    .group3{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .group4{
   	 	display: grid;
    	grid-template-columns: auto auto auto;
	}
	.group5{
		display: grid;
		grid-template-columns: 203px 25% 25% 25% 25%;
	}
	.busqueda{
		display: grid;
		grid-template-columns: 80px 400px;
	}
	.group6{
        display: grid;
        grid-template-columns: 35% 75%;
    }
	.resultado{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

}
