@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
	background-image: url("https://i2.wp.com/novocom.top/image/aS55dZy5jbGltZy5jb20=/vi/Nb7C6dn-eD4/maxresdefault.jpg");

}
.acceso{
	text-align: center;
	margin: 10px;
	margin-top: 10%;
}
.acceso input[type=text],input[type=password]{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60%;
	font-size: 20px;
	background-color:rgb(124, 118, 118);
}
.acceso input[type=submit]{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;	
	background-color: grey;
}
.forma label{
	font-size: 20px;
}
/* MAIN */
[class*="col-"] {
	float: left;
}
/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
	.group{
	  display: grid;
	  grid-template-columns: 35% 65% ;
	}
    .group2{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
	.group3{
        display: grid;
        grid-template-columns: auto;
    }
}